<!DOCTYPE html>
<html>
<head>
    <title>Bird Identifier</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>
<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<body>
    <div class="content">
        <h2 class=""h>Bird Identifier</h2>
        <p>
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
            <p>
                <label for="file" class="upload-btn">Upload image</label>
                <input id="file"  type="file" name="file" autocomplete="off" onchange="loadFile(event)"  required >
            </p>
            </dl>
            
            <p>
                {% with messages = get_flashed_messages() %}
            </p>

            <img id="output" src="{{ messages[2] }}" width="300px" alt="">

            <p>
                {% if messages %}
                The bird is a {{ messages[0] }}
            </p>
            <p>
                Probability: {{ messages[1] }}%
                
                {% endif %}
                {% endwith %}
            </p>
            <p>
                <input type="submit" class="submit" value="Submit">
            </p>
        </form>
    </div>
</body>
</html>